body {
	position: relative;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.item {
	width: 30%;
}

.card-img-top {
	width: 300px;
}

.post-border {
	border: 2px #dbdbdb solid;
}

.logout-icon {
	vertical-align: middle;
}
